:root {
    --primary-color: #1f695f;
    --secondary-color: #579d91;
    --tertiary-color: #ae8a68;
    --text-color: #524438;
    --background-color: #b9a89a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    gap: 300px;
}


.navbar img {
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-left: 10px;
    border: 2px solid #333;
}


.navbar-content ul {
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}

.navbar-content ul li {
    font-size: 22px;
    font-weight: 600;
    color: #524438;
}

.navbar-content ul li:hover {
    cursor: pointer;
    color: var(--tertiary-color);
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 96vh;
    width: 250px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
}


.sidebar.open {
    display: flex;
    transform: translateX(0); 
}


.menu-icon img, .sidebar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding-left: 20px;
}

.sidebar ul li {
    padding: 15px;
    font-size: 20px;
}

@media screen and (min-width: 391px) and (max-width: 1049px) {
    
    .navbar-content {
        display: none;
    }

 
    .menu-icon {
        display: block;
    
    }
}

@media screen and (max-width: 390px) {
  
    .navbar-content {
        display: none;
    }

 
    .menu-icon {
        display: block;
    }
}

@media screen and (min-width: 1050px) {
    .navbar-content {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
}