
.ShopNow_list {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: #aa846389;
    
  }
  
  .ShopNow_list li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
  

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
  }
  
 .ShopNow_list h2 {
    margin-left: 15px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 25px;
    color: #aa8463;
    text-shadow: 2px 2px #333;
  }
  
  
  .search-container {
    position: relative;
  }
  
  .search-container input[type="search"] {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 900px;
    transition: all 0.3s ease;
    font-size: 16px;
    padding-left:35px;
   
  }
  .category-dropdown{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    right: 10px;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  .category-dropdown{
  
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .language-dropdown {
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .language-dropdown:hover {
    border-color: #333;
  }
  
  .user-cart-group {
    display: flex;
    align-items: center;
   margin-left: auto;
  
  }
  
  .user-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  
  .add-cart{
    display: flex;
    flex-direction:column;
   align-items: center;
  }
  .add-cart img {
    width: 25px;
    height: 25px;
   

  }
  
 
  .ShopNow_list li {
    cursor: pointer;
  }
  
  

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%; 
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }
  .carousel-item h1 {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px black,
    2px 2px black,
    2px 0px black;
    padding-top: 6rem;
    font-weight: 800;

  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  